<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'myapp/CSS/style.css' %}">
      <style>
      .setting-page {
      position: fixed;
      padding: 5rem 10rem;
      display: none;
      top: 4.9rem;
      z-index: 10;
      width: 100%;
      position: absolute;
      transition: all 1s linear;
      }
      
      .p2,.p3 {
        display: none;

      }

      </style>
  </head>
  <body class="BG">
    <div class="entire-home">
      <div class="setting-page">
        <div class="entire-setting">
          <div class="events-parent">
            <div class="event-selector">
              <div onclick="page_selevtor('p1','p2','p3')" class="event"><h3 class="event-txt">General</h3></div>
              <div onclick="page_selevtor('p2','p1','p3')" class="event"><h3 class="event-txt">about</h3></div>
              <div onclick="page_selevtor('p3','p1','p2')" class="event"><h3 class="event-txt">User</h3></div>
            </div>
            <div class="events">
              <h2 onclick="cross('setting-page')" class="cross-line-set">X</h2>
              <h2 class="events-txt">SETTINGS</h2>
              <div class="event-page p1">
                <p  class="light">Light</p>
                <p  class="dark">Dark</p>
              </div>

              <div class="event-page p2">
                <h1>About</h1>
                <p class="about-text">
                  Welcome to our anime world! 🌟 Our passion for anime goes beyond just watching — it's about feeling every emotion, living every adventure, and connecting with a global community that shares the same love. From timeless classics to the latest releases, anime has a magical way of inspiring, teaching, and entertaining us.
                  <br><br>
                  This website was created for fans, by fans — a place where you can discover hidden gems, revisit your favorite series, and dive deeper into the worlds that have captured our imaginations. Whether you're here to explore anime reviews, find new recommendations, or simply celebrate your favorite characters and stories, you're in the right place. ✨
                  <br><br>
                  Thank you for joining us on this journey. Let's continue to dream, explore, and grow together in this amazing anime community! 🚀🎌
                </p>
                
              </div>
              <div class="event-page p3"><h1>Login to use this!!</h1></div>
            </div>
          </div>
        </div>
      </div>
      <header class="top">
        <div class="top-child">
          <div class="logo-">
            <a href="./index.html" class="anc-lead-h">
              <p class="hleadboard">Leader Board</p>                
            </a>
          </div>
          <div class="pages">
            <ul id="pop-up">
              <li class="home">
                <p id="home-a" onclick="window.location.href='./login.html'">Login</p>
                
              </li>
              <li onclick="settin_thing('setting-page')" class="setting">
                <p  id="setting-a">Settings</p>
              </li>
            </ul>
          </div>
          <div class="web-name">
            <h2 class="orewa-nova">Ore-Wa Nova</h2>
          </div>
          <div class="search-">
            <input type="search" class="-search" placeholder="search" />
          </div>
        </div>
      </header>
      <div class="home-content">
        <div class="partition">
          <h2 class="gesture G1">Action-Packed Adventures</h2>
          <div class="part-content">
            <div class="part-child">
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/naruto-classic.jpg' %}" alt="Naruto">
                <a class="A-hom" href="#"><p class="homie-p">Naruto</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/AOT.jpg' %}" alt="Attack on Titan">
                <a class="A-hom" href="./anime-pages.html"><p class="homie-p">Attack on Titan</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Demon-slayer.jpg' %}" alt="Demon Slayer">
                <a class="A-hom" href="#"><p class="homie-p">Demon Slayer</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/ONE PIECE Egghead Arc.jpeg' %}" alt="One Piece">
                <a class="A-hom" href="#"><p class="homie-p">One Piece</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/JJK.jpeg' %}" alt="Jujutsu Kaisen">
                <a class="A-hom" href="#"><p class="homie-p">Jujutsu Kaisen</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/MY-hero-acadamia.jpeg' %}" alt="My Hero Academia">
                <a class="A-hom" href="#"><p class="homie-p">My Hero Academia</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/top-10/fullmental.png' %}" alt="Fullmetal Alchemist: Brotherhood">
                <a class="A-hom" href="#"><p class="homie-p">Fullmetal Alchemist</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Vinland Saga.jpeg' %}" alt="Vinland Saga">
                <a class="A-hom" href="#"><p class="homie-p">Vinland Saga</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/MY-hero-acadamia.jpeg' %}" alt="Hunter x Hunter">
                <a class="A-hom" href="#"><p class="homie-p">Hunter x Hunter</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Dr_Stone.jpeg' %}" alt="Dr. Stone">
                <a class="A-hom" href="#"><p class="homie-p">Dr. Stone</p></a>
              </div>
            </div>
          </div>
        </div>
        <div class="partition">
          <h2 class="gesture G4">Epic Fantasy Worlds</h2>
          <div class="part-content">
              <div class="part-child">
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Re-Zero.jpeg' %}" alt="Re:Zero">
                  <a class="A-hom" href="#"><p class="homie-p">Re:Zero</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Sword Art Online.jpeg' %}" alt="Sword Art Online">
                  <a class="A-hom" href="#"><p class="homie-p">Sword Art Online</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/The Rising of the Shield Hero.jpeg' %}" alt="The Rising of the Shield Hero">
                  <a class="A-hom" href="#"><p class="homie-p">The Rising of the Shield Hero</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Made in Abyss.jpeg' %}" alt="Made in Abyss">
                  <a class="A-hom" href="#"><p class="homie-p">Made in Abyss</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Black Clover.jpeg' %}" alt="Black Clover">
                  <a class="A-hom" href="#"><p class="homie-p">Black Clover</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/No Game No Life.jpeg' %}" alt="No Game No Life">
                  <a class="A-hom" href="#"><p class="homie-p">No Game No Life</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Made in Abyss.jpeg' %}" alt="Magi: The Labyrinth of Magic">
                  <a class="A-hom" href="#"><p class="homie-p">Magi: The Labyr<br>inth of Magic</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Log Horizon.jpeg' %}" alt="Log Horizon">
                  <a class="A-hom" href="#"><p class="homie-p">Log Horizon</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/Fairy Tail.jpeg' %}" alt="Fairy Tail">
                  <a class="A-hom" href="#"><p class="homie-p">Fairy Tail</p></a>
                </div>
                <div class="ani-con">
                  <img class="homie-i" src="{% static 'myapp/images/home-img/The Seven Deadly Sins.jpeg' %}" alt="The Seven Deadly Sins">
                  <a class="A-hom" href="#"><p class="homie-p">The Seven Deadly Sins</p></a>
                </div>
              </div>
          </div>
        </div>
        <div class="partition">
          <h2 class="gesture G5">Supernatural Showdowns</h2>
          <div class="part-content">
            <div class="part-child">
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Bleach.jpeg' %}" alt="Bleach">
                <a class="A-hom" href="#"><p class="homie-p">Bleach</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Tokyo Ghoul.jpeg' %}" alt="Tokyo Ghoul">
                <a class="A-hom" href="#"><p class="homie-p">Tokyo Ghoul</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Blue Exorcist.jpeg' %}" alt="Blue Exorcist">
                <a class="A-hom" href="#"><p class="homie-p">Blue Exorcist</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Noragami.jpeg' %}" alt="Noragami">
                <a class="A-hom" href="#"><p class="homie-p">Noragami</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Soul Eater.jpeg' %}" alt="Soul Eater">
                <a class="A-hom" href="#"><p class="homie-p">Soul Eater</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Shaman King.jpeg' %}" alt="Shaman King">
                <a class="A-hom" href="#"><p class="homie-p">Shaman King</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/D.Gray-man.jpeg' %}" alt="D.Gray-man">
                <a class="A-hom" href="#"><p class="homie-p">D.Gray-man</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/The Devil is a Part-Timer.jpeg' %}" alt="The Devil is a Part-Timer">
                <a class="A-hom" href="#"><p class="homie-p">The Devil is a Part-Timer</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Hellsing Ultimate.jpeg' %}" alt="Hellsing Ultimate">
                <a class="A-hom" href="#"><p class="homie-p">Hellsing Ultimate</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Black Butler.jpeg' %}" alt="Black Butler">
                <a class="A-hom" href="#"><p class="homie-p">Black Butler</p></a>
              </div>
              
              <!-- <div class="ani-con">
                <img class="homie-i" src="../images/home-img/Jujutsu Kaisen.jpeg" alt="Jujutsu Kaisen">
                <a class="A-hom" href="#"><p class="homie-p">Jujutsu Kaisen</p></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="partition">
          <h2 class="gesture G2">Emotional Romance & Slice of Life</h2>
          <div class="part-content">
            <div class="part-child">
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/your lie in april.jpg' %}" alt="Your Lie in April">
                <a class="A-hom" href="#"><p class="homie-p">Your Lie in April</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/fruit basket.jpeg' %}" alt="Fruits Basket">
                <a class="A-hom" href="#"><p class="homie-p">Fruits Basket</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/clannad.jpg' %}" alt="Clannad">
                <a class="A-hom" href="#"><p class="homie-p">Clannad</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/toradora.png' %}" alt="Toradora">
                <a class="A-hom" href="#"><p class="homie-p">Toradora</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/horimiya.jpeg' %}" alt="Horimiya">
                <a class="A-hom" href="#"><p class="homie-p">Horimiya</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Kimi ni Todoke.jpeg' %}" alt="Kimi ni Todoke">
                <a class="A-hom" href="#"><p class="homie-p">Kimi ni Todoke</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/A Silent Voice.jpeg' %}" alt="A Silent Voice">
                <a class="A-hom" href="#"><p class="homie-p">A Silent Voice</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Anohana-The Flower We Saw That Day.jpeg' %}" alt="Anohana: The Flower We Saw That Day">
                <a class="A-hom" href="#"><p class="homie-p">Anohana</p></a>
                <!-- : The Flower We Saw That Day -->
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/The Quintessential Quintuplets.jpeg' %}" alt="The Quintessential Quintuplets">
                <a class="A-hom" href="#"><p class="homie-p">The Quintessential Quintuplets</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Bunny Girl Senpai.jpeg' %}" alt="Bunny Girl Senpai">
                <a class="A-hom" href="#"><p class="homie-p">Bunny Girl Senpai</p></a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="partition">
          <h2 class="gesture G3">Mind-Bending Thrillers</h2>
          <div class="part-content">
            <div class="part-child">
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/top-10/death-note.png' %}" alt="Death Note">
                <a class="A-hom" href="#"><p class="homie-p">Death Note</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Erased.jpeg' %}" alt="Erased">
                <a class="A-hom" href="#"><p class="homie-p">Erased</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Monster.jpeg' %}" alt="Monster">
                <a class="A-hom" href="#"><p class="homie-p">Monster</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/The Promised Neverland.jpeg' %}" alt="The Promised Neverland">
                <a class="A-hom" href="#"><p class="homie-p">The Promised Neverland</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Psycho-Pass.jpeg' %}" alt="Psycho-Pass">
                <a class="A-hom" href="#"><p class="homie-p">Psycho-Pass</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Steins-Gate.jpeg' %}" alt="Steins;Gate">
                <a class="A-hom" href="#"><p class="homie-p">Steins;Gate</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Future Diary.jpeg' %}" alt="Future Diary">
                <a class="A-hom" href="#"><p class="homie-p">Future Diary</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Paranoia Agent.jpeg' %}" alt="Paranoia Agent">
                <a class="A-hom" href="#"><p class="homie-p">Paranoia Agent</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Ghost Hunt.jpeg' %}" alt="Ghost Hunt">
                <a class="A-hom" href="#"><p class="homie-p">Ghost Hunt</p></a>
              </div>
              <div class="ani-con">
                <img class="homie-i" src="{% static 'myapp/images/home-img/Higurashi- When They Cry.jpeg' %}" alt="Higurashi: When They Cry">
                <a class="A-hom" href="#"><p class="homie-p">Higurashi: When They Cry</p></a>
              </div>              
            </div>
          </div>
        </div>
        <footer class="f-BG">
          <div class="left">
            <h4 class="foot">Copyrights Disclaimer</h4>
            <p class="foot">
              CONTACT:<a
                href="https://www.linkedin.com/in/arshath-ahamed-45b34830a/"
                target="_blank"
                >Linkedin</a
              >
            </p>
          </div>
          <div class="right">
            <p class="foot">Arshath ahamed M</p>
          </div>
        </footer>
    </div>
    <script src="{% static 'myapp/JS/app.js' %}"></script>
    <script src="{% static 'myapp/JS/home.js' %}"></script>
  </body>
</html>
