@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .entire-reviewpage {
    position: relative;
    margin: auto;
    max-height: 100%;
    width: 100vw;
  }

  .ani-page-content {
    padding-top: 5.4rem;
  }
  
  .gesture-pop {
    background-color: hsl(120, 100%, 69%);
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.31em;
    z-index: 2;
  }
  
  .button-gesture {
    background-color: hsla(118, 28%, 50%, 0);
    border: none;
    font-size: larger;
    font-weight: 600;
  }
  
  .reviewer {
    display: grid;
    grid-template-areas:
      "img"
      "cont"
      "egg";
    }
    
    .rev-images {
      grid-area: img;
      display: grid;
      grid-template-areas: "left center right";
      padding: 4.8rem 0rem;
    }

  .lrev-img {
    grid-area: left;
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .imgsrev {
    grid-area: center;
    box-sizing: border-box;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
  }
  
  .img-rev {
    background-color: hsl(0, 0%, 7%);
    box-shadow: 0px 0px 40px #000000;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: auto;
    height: 28rem;
    min-width: 47.9rem;
    max-width: 47.9rem;
    transition: transform 0.5s ease-in-out;
    transition: all 1s ease-in;
  }
  
  .rrev-img {
    grid-area: right;
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .buttonright,
  .buttonleft {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
    border: none;
    background-color: hsl(0, 0%, 7%);
    font-size: 3.5rem;
    font-weight: 500;
    color: hsl(120, 100%, 69%);
    transition: all 0.3s ease-in-out;
    text-shadow: 0px 0px 10px hsl(120, 100%, 69%);
    cursor: pointer;
    z-index: 1;
  }
  
  .buttonright:hover,
  .buttonleft:hover {
    color: hsl(120, 100%, 69%);
    transform: scale(1.2);
    text-shadow: 0px 0px 10px rgb(16, 16, 16), 0px 0px 20px rgb(0, 0, 0);
  }
  
  .buttonright:active,
  .buttonleft:active {
    color: hsl(0, 0%, 0%);
    transform: scale(1.2);
    text-shadow: 0px 0px 10px rgb(16, 16, 16), 0px 0px 20px rgb(0, 0, 0);
  }
  
  .re-view {
    grid-area: cont;
    background-color: hsl(0, 0%, 7%);
    padding-bottom: 0.8rem;
    max-height: 32.5rem;
    display: grid;
    grid-template-areas:
      "top"
      "bottom";
      grid-template-rows: 0.7fr 3fr;
  }

  .indexofA {
    grid-area: bottom;
    width: 100%;
    padding: 0.4rem 0.8rem 0.1rem 0.8rem;
    overflow-y: scroll;
  }

  .title {
    grid-area: top;
    width: 100%;
    padding: 0.8rem 0.8rem 0rem 0.8rem;
  }

  .ratingchild h2,
  .indexofAchild p {
    background-color: rgba(255, 255, 255, 0.054);
    width: 99.9%;
    height: 98%;
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .star {
    font-size: 2rem;
    color: #ccc;
  }
  
  .star.filled {
    color: gold;
  }
  

  .titlechild h1 {
    padding: 0.2rem 0rem 0rem 0rem;
    width: 99.9%;
    height: 98%;
    border-radius: 0.5rem;
    color: white;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 900;
  }
  
  .easter-eggs {
    grid-area: egg;
    background-color: hsla(0, 0%, 0%, 0.753);
    padding-top: 2rem;
  }
  
  
  .easter-eggs h1 {
    color: hsl(120, 100%, 69%);
    background-color: hsla(0, 0%, 79%, 0.127);
    border-radius: 0 1rem 1rem 0;
    font-family: "Poppins" , sans-serif;
    font-weight: 500;
    padding-left: 0.3rem;
    width: 14.5rem;
  }
  
  .part-child-ARP {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem 0.8rem 5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
  }
  
  .ani-con-ARP {
    display: none;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.919);
    border-radius: 10px;
    padding: 0.6rem;
    transition: transform 0.5s ease;
    margin-right: 1rem;
  }
  
  .show {
    display:grid;
  }
  
  .part-child-ARP .ani-con-ARP:hover {
    transform: scale(1.12);
  }
  
    
  .part-child-ARP .homie-p-ARP {
    color: white;
    font-weight: 600;
    font-size: small;
  }
  
  .part-child-ARP .homie-i-ARP {
    max-width: 9rem;
    max-height: 11rem;
    min-width: 9rem;
    min-height: 11rem;
    border-radius: 2px;
  }
  
  .A-hom-ARP {
    text-decoration: none;
  }


  .ani-foot {
    height: 7rem;
    background-color: hsl(0, 0%, 0%);
    box-sizing: border-box;
  }

  .ani-foot h3,.ani-foot a {
    color: aliceblue;
    margin-top: 3rem;
  }

  .indexofA .star-rating {
    position: sticky;
    top: 0px;
  }